# Ignore arquivos de build e configurações do IDE
bin/
.vscode/
.project
.classpath
.settings/

# Ignore arquivos binários
*.class
*.jar

# Ignore o Release.md
Release.md

# Ignore arquivos de notas pessoais
notas.txt
